.common-button {
  padding: 8px 12px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 20px;
  background-color: #a9e851;
  border: 2px solid #1f6619;
  outline: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}
.common-button:hover {
   background-color: #e94646;
}

.SearchInput {
  width: 200px;
  height: 34px;
  border-radius: 7px;
  font-size: 16px;
  padding: 0px 10px;
}

.SelectBox {
  font-size: 16px;
  padding: 0px 10px;
}

.favorite-btn {
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: rgb(255, 233, 233);
}

.BlackButton {
  padding: 8px 12px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 7px;
  background-color: #27272a;
  border: 2px solid rgb(15, 15, 15);
  border-top: 1px solid #3c3c3f;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 8px;
}

.BlackButton:hover {
 background-color: #323235;
}

.common-button:disabled{
  cursor: not-allowed;
  color: rgba(82, 82, 91, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}