@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: #7772f6 !important;
  --red: #ff3b30 !important;
  --green: #34c759 !important;
}


body {
  padding: 0px;
  margin: 0px !important;
  background-color: rgba(33, 33, 36, 1);
  color: white;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
